<div class="container">
  <h1 class="my-5 text-center">Create a cocktail</h1>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name, label: 'Cocktail name' %>
    <%= f.submit class: 'btn btn-success'%>
    <%= link_to "Back", cocktails_path, class: 'btn btn-primary mr-3' %>
  <% end %>
  <div class="buttons w-50 mx-auto">
  </div>
</div>