<div class="container">
  <h1 class="text-center my-5">Cocktails</h1>
  <div class="row mb-4">
   <% @cocktails.each do |cocktail| %>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="cocktail-card card">
        <h2> <%= cocktail.name %> </h2>
        <%= image_tag("https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd", alt: "Cocktail image", class: "drink-image") %>  
        <%= link_to 'Details', cocktail_path(cocktail), class:'button-info btn btn-warning' %>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to "Add a new Cocktail", new_cocktail_path, class: 'mb-5 btn btn-primary' %>
</div>