// Specific CSS for your home-page
 body {
    color: rgb(201, 104, 130);
}

h1 {
  font-weight: bold;
  font-size: 3em;
  text-shadow: -1px 1px 3px #29839B;
  font-family: 'Dancing Script', cursive;
}

.img-bg {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
