.cocktail-card {
  background-color: rgba(30, 30, 30, .8);
  border: 1px solid #B04B67;
  box-shadow: 0px 0px 2px rgb(201, 104, 130);
  color: rgb(201, 104, 130);
  height: 400px; 
  position: relative;
  z-index: 2;
}

.wrapper {
  height: 100%;
  padding: 20px;
  overflow: hidden; 
}

.cocktail-card h2 {
  font-family: $drink-title-font;
  color: rgb(220, 220, 220);
  text-shadow: 0px 0px 3px #000000;
  font-weight: lighter;
}

.no-style {
  position: relative;
  transition: 1s;
}

.no-style:hover {
  text-decoration: none;
  
}

.cocktail-card:hover {
  background-color: rgba(50, 50, 50, .8);
}

.delete-icon {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 18px;
  color: $success;
  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.delete-icon:hover {
  color: #0fa3bd;
}

.edit-icon {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 48px;
  color: $success;
  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.edit-icon:hover {
  color: #0fa3bd;
}

.drink-image {
  object-fit: cover;
  width: 100%;
  height: 85%;
  box-shadow: 0px 0px 3px rgb(201, 104, 130);
}

.show-image {
  display: block;
  box-shadow: 0px 0px 3px rgb(201, 104, 130);
  width: 90%;
  height: 500px;
  margin: 0 auto;
}

.doses-card {
  background-color: rgba(30, 30, 30, .8);
  border: 1px solid #B04B67 !important;
  box-shadow: 0px 0px 2px rgb(201, 104, 130);
  font-size: 1.4em;
  max-width: 100%;
  margin: 0 auto;
  min-height: 400px;
  position: relative;
}

.buttons {
  text-align: center;

    a { 
      margin-bottom: 5px;
    }
}

.dose-card {
  list-style: none;
  color: rgb(220, 220, 220);
  text-shadow: 0px 0px 3px #000000;
}

.errors {
  background-color: rgba(30, 30, 30, .8);
  border: 2px solid #B04B67;
  padding: 30px 10px;
  margin-top: 5em;
  min-width: 360px;
}

.errors h2 {
  font-size: 1.5em;
  margin-bottom: 2em;
  text-align: center;
  color: rgb(220, 220, 220);
  text-shadow: 0px 0px 3px #000000;
}

@media (min-width: 992px) {
  .cocktail-card {
    min-height: 500px;
  } 
}