.cocktail-card {
  background-color: rgba(30, 30, 30, .8);
  border: 1px solid #B04B67;
  box-shadow: 0px 0px 2px rgb(201, 104, 130);
  color: rgb(201, 104, 130);
  height: 400px; 
  position: relative;
  padding: 20px;
  position: relative;
}

.wrapper {
  height: 350px; 
}

.cocktail-card h2 {
  font-family: $drink-title-font;
  color: rgb(220, 220, 220);
  text-shadow: 0px 0px 3px #000000;
  font-weight: lighter;
}

.no-style {
  position: relative;
  transition: 1s;
}

.no-style:hover {
  text-decoration: none;
  
    .cocktail-card {
      background-color: rgba(50, 50, 50, .8);
    }
}

.delete-icon {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 18px;
  color: $success;
}

.delete-icon:hover {
  color: #0fa3bd;
}

.drink-image {
  object-fit: cover;
  width: 100%;
  height: 90%;
  box-shadow: 0px 0px 3px rgb(201, 104, 130);
}

.doses-card {
  background-color: rgba(30, 30, 30, .8);
  border: 1px solid #B04B67 !important;
  box-shadow: 0px 0px 2px rgb(201, 104, 130);
  font-size: 1.4em;
  max-width: 70%;
  margin: 0 auto;
  min-height: 400px;
  padding: 40px;
  position: relative;
}

.buttons {
  text-align: center;

    a { 
      margin-bottom: 5px;
    }
}

.dose-card {
  list-style: none;
  color: rgb(220, 220, 220);
  text-shadow: 0px 0px 3px #000000;
}

.errors {
  background-color: rgba(30, 30, 30, .8);
  border: 2px solid #B04B67;
  padding: 30px 10px;
  margin-top: 5em;
  min-width: 360px;
}

.errors h2 {
  font-size: 1.5em;
  margin-bottom: 2em;
  text-align: center;
}