label[for="cocktail_photo"] {
  color: white;
  font-size: 1em;
  cursor: pointer;
  background-color: $primary;
  text-align: center;
  line-height: 38px;
  border-radius: 2px;
  width: 92px;
  height: 38px;
  display: inline-block;
  transition: background-color .15s;

  &:hover {
    background-color: #8c3c52;
    border-color: #83384d;
  }

  @media (max-width: 510px) {
    line-height: 32px;
    height: 32px;
  }
}

label {
  font-size: 1.2em;
  color: white;
  text-shadow: 0px 0px 1px black;
  @media (max-width: 510px) {
    font-size: .9em;
  }
  @media (max-width: 300px) {
    font-size: .7em;
  }
}
input {
  @media (max-width: 510px) {
    font-size: .9em !important;
  }
  @media (max-width: 300px) {
    font-size: .7em !important;
  }
}
.input-photo  {
  width: 0.1px;
  height: 0.1px;
  cursor: pointer;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}